h1,
h2,
h3 {
  letter-spacing: 2px;
  font-weight: 600;
  /* text-transform: uppercase; If tapuwan kaayo mo uppercase sa mga h1 */
}
h5 {
  font-weight: 100;
}

p {
  font-weight: 100;
  font-size: 14px;
  font-style: normal;
  color: rgb(0, 0, 0);
  /* text-transform: capitalize; If tapuwan kaayo mo capitalize sa first letter sa html file */
}

a {
  color: rgba(239, 141, 40, 255);
  text-decoration: none;
}

a:hover {
  filter: brightness(150%);
}

/* a:visited {
  color: ;
} */

#white {
  color: white;
}

#white-smaller {
  color: white;
  font-size: 10px;
}

#white-bold {
  color: white;
  font-weight: 500;
}

#white-bolder {
  color: white;
  font-weight: 1000;
}

#white-left {
  color: white;
  text-align: left;
}

#white-left-bold {
  color: white;
  text-align: left;
  font-weight: 500;
}

#white-left-glowing {
  color: white;
  text-align: left;
  filter: drop-shadow(0px 0px 1px #ffffff);
}

#white-shadow {
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

#white-shadow-BIG {
  font-size: 30px;
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

#dark-gray-mini {
  color: #707070;
  font-size: 10px;
  font-weight: 400;
}

#dark-gray-left-mini {
  color: #707070;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

#mini {
  font-size: 10px;
  font-weight: 400;
}

#head-blue-verybig {
  font-size: 35px;
  line-height: 125%;
  font-weight: 900;
  color: #21529b;
  transform: scaleY(125%);
  transform: scaleY(150%);
  letter-spacing: -1px;
  margin-bottom: 30px;
}

#head-blue-grid-left {
  font-size: 20px;
  font-weight: 900;
  color: #1d509f;
  letter-spacing: 0px;
  margin-bottom: 2%;
  transform: scaleY(150%);
  text-align: left;
}

#p-gray-grid-left {
  font-size: 18px;
  font-weight: 400;
  color: #8a8a8a;
  letter-spacing: 0px;
  line-height: 1.75em;
  text-align: left;
}

/* ! para sa transitioning */

#transition-1s {
  transition: 1s ease-in-out;
}

#transition-05s {
  transition: 0.5s ease-in-out;
}

#transition-025s {
  transition: 0.25s ease-in-out;
}
