* {
  text-align: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  list-style: none;
}

body {
  background: url(/public/img/header/Header.jpg) center center/cover no-repeat
    fixed;
  min-height: 100vh;
}

header {
  background-color: rgb(31, 31, 31);
  height: 5em;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

header nav ul {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}

header nav a {
  text-decoration: none;
  color: white;
  margin: 1em;
}

header nav a img {
  max-height: 2em;
}

.pre-oten {
  background-color: rgba(28, 81, 159, 255);
  padding: 15px 10px 10px 30px;
  transform: scaleY(125%);
  font-size: 14px;
}

.OTEN1 {
  margin-top: 10em;
  margin-bottom: 10em;
  padding: 5% 15% 5% 15%;
}

.OTEN1 h1,
.OTEN1 h2 {
  font-weight: 400;
  font-stretch: expanded;
  line-height: 1.6;
  margin-bottom: 25px;
}

.OTEN1 button {
  background-color: #f15434;
  border: none;
  padding: 10px 12.5px 10px 12.5px;
  border-radius: 20px;
  letter-spacing: -0.5px;
  font-size: 15px;
  transform: scaleY(125%);
  transition: 0.5s ease-in-out;
}

.OTEN1 button:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.OTEN2 {
  background-color: white;
  padding: 5%;
}

.OTEN3 {
  background-color: rgb(26, 26, 26);
  padding-left: 5%;
  padding-right: 5%;
}

.Something {
  background-color: rgb(68, 174, 223);
  width: 80vh;
  padding: 5px;
}

.splide__slide {
  position: relative;
  max-height: 65vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.splide__slide:hover img {
  filter: blur(5px) grayscale(1) brightness(60%);
}

.splide__slide:hover .card_container {
  transform: translateY(-10px);
}

.splide__slide:hover .card_btn {
  transform: translateX(0%);
}

.splide__slide img {
  filter: blur(0px) grayscale(0) brightness(60%);
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card_container {
  position: absolute;
  height: 40%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}

.card_btn {
  color: white;
  background: rgb(117, 177, 205);
  padding: 5%;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  width: 60%;
  transform: translateX(50em);
}

.card_btn:hover {
  filter: brightness(125%);
}

.footer-container {
  background-color: rgb(5, 26, 39);
  padding: 50%;
}
.credits {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}
.credits a {
  color: rgb(170, 195, 211);
}
